<section class="page-section">
  <p class="section-label"><%= t(".label") %></p>
  <h1><%= t(".title") %></h1>

  <% if @experiences.any? %>
    <div class="content-list">
      <%= render partial: 'experience_card', collection: @experiences, as: :experience %>
    </div>
  <% else %>
    <p><%= t(".empty") %></p>
  <% end %>
</section>
