<section class="page-section">
  <p class="section-label"><%= t(".label") %></p>
  <h1><%= t(".title") %></h1>

  <% if @projects.any? %>
    <div class="card-grid">
      <%= render partial: 'project_card', collection: @projects, as: :project %>
    </div>
  <% else %>
    <p><%= t(".empty") %></p>
  <% end %>
</section>